<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.snaillemon.s2sm.vo.Employee" alias="emp"/>
    </typeAliases>
    <!--加载映射文件-->
    <mappers>
        <mapper resource="com/snaillemon/s2sm/vo/EmpMapper.xml"/>
    </mappers>
</configuration>